<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">Amazing Cakes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/book}">Book a Cake</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" th:unless="${user} or ${currentURI == '/login'}" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <form th:if="${user}" th:action="@{/logout}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-primary">Logout (<span
                                th:text="${user.username}">User</span>)</button>
                    </form>
                </li>

            </ul>
        </div>
    </nav>
</div>